<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="centered-content animated-background">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Make a Donation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Donor Name</ion-label>
            <ion-input type="text" placeholder="Enter your name" [(ngModel)]="donation.donorName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Donation Amount</ion-label>
            <ion-input type="number" placeholder="Enter donation amount" [(ngModel)]="donation.amount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Payment Method</ion-label>
            <ion-select [(ngModel)]="donation.paymentMethod">
              <ion-select-option value="credit">Credit Card</ion-select-option>
              <ion-select-option value="paypal">PayPal</ion-select-option>
              <ion-select-option value="bank">Bank Transfer</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div *ngIf="donationSubmitted" class="thank-you-message">
      <h3>Thank You for Your Donation!</h3>
      <p>Your generous contribution will make a difference in the lives of those in need.</p>
    </div>
    <ion-button expand="full" (click)="submitDonation()">Submit Donation</ion-button>
  </div>
</ion-content>
