 <ion-button slot="fixed" fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
<ion-content class="ion-padding">
  <div class="centered-content animated-background">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Make a Donation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Donor Name</ion-label>
            <ion-input type="text" placeholder="Enter your name" [(ngModel)]="donation.donorName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Donation Amount</ion-label>
            <ion-input type="number" placeholder="Enter donation amount" [(ngModel)]="donation.amount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Payment Method</ion-label>
            <ion-select [(ngModel)]="donation.paymentMethod">
              <ion-select-option value="credit">Credit Card</ion-select-option>
              <ion-select-option value="paypal">PayPal</ion-select-option>
              <ion-select-option value="bank">Bank Transfer</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="submitDonation()">Submit Donation</ion-button>
  </div>
</ion-content>
