<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2>Welcome to Medicines Donations!</h2>
  <p>
    Thank you for considering donating medicines to support those in need of medical assistance. Your contributions can
    have a significant impact on individuals who require access to essential medications. Together, we can make a difference
    in their lives.
  </p>

  <h3>What Can You Donate?</h3>
  <p>
    We accept various medicines, both over-the-counter and prescription drugs, that are in unexpired and unopened packaging.
    Please ensure that the medicines are not damaged or tampered with. Commonly needed medicines include pain relievers,
    cold and flu medications, allergy medications, vitamins, and other essential prescription drugs.
  </p>

  <h3>How to Donate</h3>
  <p>
    Donating medicines is essential for those who cannot afford proper healthcare. You can drop off your medicine donations
    at our designated collection centers. We follow strict guidelines to ensure the safety and efficacy of the donated medicines
    before distributing them to those in need.
  </p>

  <h3>Impact of Your Donation</h3>
  <p>
    Your medicine donations can significantly impact the health and well-being of individuals who lack access to proper healthcare.
    By providing essential medications, you can alleviate their suffering and improve their quality of life. Your contribution
    can bring relief and hope to those facing health challenges.
  </p>
</ion-content>
