#login-content {
  --background: linear-gradient(45deg, #55a5fa, #55a5fa);
  --ion-background-color: transparent;
  --ion-text-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.login-card {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-options ion-button {
  --background: #1534ff;
  color: #000000;
  margin-bottom: 10px;
}

/* Animation for the login card */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
