<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Welcome to Clothes Donations!</h2>
  <p>
    Thank you for considering donating clothes to support those in need. Your contributions can make a significant impact
    on individuals and families who require assistance. Together, we can make a difference in their lives.
  </p>

  <h3>What Can You Donate?</h3>
  <p>
    We accept clean, gently used clothes that are in good condition. Please ensure that the clothes are washed and free
    from any damages. Acceptable clothing items include shirts, pants, dresses, jackets, sweaters, shoes, and accessories
    such as belts, scarves, and hats.
  </p>

  <h3>How to Donate</h3>
  <p>
    Donating clothes is easy. You can drop off your clothing donations at our designated collection centers. We also have
    scheduled donation drives in various locations where you can bring your donations. Alternatively, you can contact our
    team to arrange for a pickup if you have a large donation or need assistance with transportation.
  </p>

  <h3>Impact of Your Donation</h3>
  <p>
    Your clothing donations will directly benefit those in need. The donated clothes will be distributed to individuals
    and families facing challenges such as homelessness, joblessness, or other difficult circumstances. Your contribution
    will provide them with warmth, comfort, and a renewed sense of hope.
  </p>
</ion-content>
