<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <h2>Welcome to Food Donations!</h2>
  <p>
    Thank you for your willingness to contribute to our food donation drive. Your generous support will help
    provide nutritious meals to those in need. Together, we can make a difference in the lives of many people.
  </p>

  <h3>What Can You Donate?</h3>
  <p>
    We accept various food items that are non-perishable and have a long shelf life. Some examples of acceptable
    food donations include canned goods, dry pasta, rice, canned fruits and vegetables, peanut butter, and
    breakfast cereals. Please ensure that the food items are not expired and are in good condition.
  </p>

  <h3>How to Donate</h3>
  <p>
    Donating food is simple and easy. You can drop off your food donations at our designated collection centers.
    Alternatively, you can contact our team to arrange for a pickup if you have a large donation or need assistance
    with transportation.
  </p>

  <h3>Impact of Your Donation</h3>
  <p>
    Your food donation will go directly to those in need. It will support community food banks, shelters, and
    various charitable organizations that serve individuals and families facing food insecurity. Your contribution
    will make a positive impact and help alleviate hunger in our community.
  </p>

</ion-content>
