<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToDonationHistory()">
        <ion-icon name="time"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button routerLink="/dashboard" routerDirection="root" expand="full">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-button>
    <ion-button routerLink="/donation" routerDirection="root" expand="full">
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label>Make Donation</ion-label>
    </ion-button>
    <ion-button expand="full">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-button>
    <ion-button expand="full">
      <ion-icon name="help-circle" slot="start"></ion-icon>
      <ion-label>Help &amp; Support</ion-label>
    </ion-button>
  </ion-content>
</ion-menu>


<ion-content class="ion-padding" id="main-content"  img src="https://th.bing.com/th/id/OIP.52T8HHBWh6b0dwrG6tSpVQAAAA?pid=ImgDet&rs=1" alt="User Avatar" >
  <div class="centered-content animated-background">
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchItems()"></ion-searchbar>

  <div class="user-profile">
    <ion-avatar class="user-avatar">
      <img src="https://th.bing.com/th/id/OIP.52T8HHBWh6b0dwrG6tSpVQAAAA?pid=ImgDet&rs=1" alt="User Avatar">
    </ion-avatar>
  </div>

  <div class="donation-stats">
    <h3>Donation Statistics</h3>
    <p>Total Donations: {{ totalDonations }}</p>
    <p>Last Donation Amount: {{ lastDonationAmount }}</p>
  </div>

  <div class="recent-donations">
    <h3>Recent Donations</h3>
    <ion-list>
      <ion-item *ngFor="let donation of recentDonations">
        <ion-label>
          <h2>{{ donation.donorName }}</h2>
          <p>Amount: {{ donation.amount }}</p>
          <p>Date: {{ donation.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-card *ngFor="let campaign of campaigns">
    <ion-card-header>
      <ion-card-title>{{ campaign.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <p class="custom-card-description">{{ campaign.description }}</p>
      <p class="custom-card-date">Start Date: January 12, 2023 {{ campaign.startDate }}</p>
      <p class="custom-card-date">End Date: December 12, 2023 {{ campaign.endDate }}</p>
      <p class="custom-card-date">Location: Sta.Teresita Batangas {{ campaign.location }}</p>
      <ion-progress-bar class="custom-progress-bar" [value]="campaign.raisedAmount / campaign.goalAmount"></ion-progress-bar>
      <p>Raised: {{ campaign.raisedAmount }} / Goal: {{ campaign.goalAmount }}</p>
      <ion-button class="custom-card-button" (click)="donate()">Donate</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let story of stories">
    <ion-card-header>
      <ion-card-title>{{ story.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!expanded">
      
        <p>{{ story.description | slice:0:100 }}...</p>
        <ion-button (click)="expanded = !expanded">See More</ion-button>
      </div>
      <div *ngIf="expanded">
      
        <p>{{ story.description }}</p>
        <ion-button (click)="expanded = !expanded">See Less</ion-button>
      </div>
      <p>{{ story.testimonial }}</p>
      <ion-button (click)="donate()">Donate</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Donation Progress</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-progress-bar [value]="currentDonation / targetGoal"></ion-progress-bar>
      <p>{{ currentDonation }} / {{ targetGoal }}</p>
    </ion-card-content>
  </ion-card>
  
 
</div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1" (click)="makeDonation()">
    <ion-icon name="cash"></ion-icon>
    <ion-label>Make Donation</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab2" (click)="makeFoodDonation()">
    <ion-icon name="fast-food-outline"></ion-icon>
    <ion-label>Food</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab3" (click)="donateClothes()">
    <ion-icon name="shirt-outline"></ion-icon>
    <ion-label>Clothes</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab4" (click)="donate()">
    <ion-icon name="medkit-outline"></ion-icon>
    <ion-label>Medicines</ion-label>
  </ion-tab-button>
</ion-tab-bar>
